.all-projects-status {
    @include breakpoint(md) {
        @include flex-wrap;
        justify-content: left;
        margin: 45px 0;
        
        div {
            margin: 0 20px 0 0;
        }
    }
}