.ui-datepicker {
	padding: 15px;
	margin: -1px 0 0 -25px !important;
	display: none;
	background: #fff;
	height: auto;
	font-size: 1.1em;
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, .1);
	z-index: 9999 !important;

	@include breakpoint(small) {
		margin: -1px 0 0 0 !important;
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		z-index: 999999999999999 !important;
	}
}

.ui-datepicker a {
	text-decoration: none;
}

.ui-datepicker table {
	width: 100%;

	@include breakpoint(small){
		height: calc(100% - 50px) !important;
	}
}
.ui-datepicker-header {
	color: $blue;
	font-size: 1.1em;
	line-height: 28px;
	border-style: solid;
	margin: 0 0 10px 0;
}
.ui-datepicker-title {
	text-align: center;
	text-transform: uppercase;
}
.ui-datepicker-prev, .ui-datepicker-next {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	background-image: url('images/date-picker/arrow.png');
	background-repeat: no-repeat;
	font-size: 0;
	overflow: hidden;
	margin: 0;
}
.ui-datepicker-prev {
	float: left;
	background-position: center -30px;
}
.ui-datepicker-next {
	float: right;
	background-position: center 0px;
}
.ui-datepicker thead {
	opacity: 1;

	th {
		font-weight: normal;
		font-size: .7em;
	}

	span {
		display: block;
	}
}
.ui-datepicker th {
	text-transform: uppercase;
	font-size: 6pt;
	padding: 5px 0;
}
.ui-datepicker tbody td {
	padding: 0;

	@include breakpoint(small){
		text-align: center;
	}

	a {
		padding: 2px 0 0 0;
	}
}
.ui-datepicker tbody td a:hover {
	background: rgba(#00bcd4, .3) !important;
}
.ui-datepicker tbody td:last-child {
	border-right: 0px;
}
.ui-datepicker tbody tr {
}
.ui-datepicker tbody tr:last-child {
	border-bottom: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 27px;
	border: solid 1px #fff;
}
.ui-datepicker-calendar .ui-state-default {
}
.ui-datepicker-calendar .ui-state-hover {
	background: #f7f7f7;
}
.ui-datepicker-calendar .ui-state-active {
	background: $orange;
	color: #fff;
	position: relative;
	border-radius: 100%;
	border: solid 1px $orange !important;
}
.ui-datepicker-calendar .ui-state-active:hover {
	background: #00bcd4;
}

.ui-datepicker-calendar .ui-state-highlight {
	background: rgba(20, 36, 43, 0.23);
}

.ui-datepicker-unselectable .ui-state-default {
}

.ui-datepicker-calendar td:first-child .ui-state-active {
	width: 29px;
	margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
	width: 29px;
	margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
	height: 29px;
	margin-bottom: 0;
}
.ui-datepicker-today a {
	border: solid 1px $blue !important;
	color:  $blue !important;
	background: #fff !important;
	border-radius: 100%;
}

.ui-datepicker tbody td a:hover {
	border: solid 1px $orange !important;
	color: $orange !important;
	border-radius: 100%;
	background: #fff !important;
}

.ui-datepicker-week-end a {
	color: rgba(20, 36, 43, 0.35);

}