.general-form {
    width: 100%;

    @include breakpoint(md) {
        @include flex-wrap;
        flex-wrap: wrap;    
        justify-content: start;
    }

    fieldset {

        border: none;
        padding: 80px $padder-mobile $padder-mobile $padder-mobile;
        background: #fff;
        position: relative;
        margin: 0 0 $padder-mobile 0;
        width: 100%;
        border-radius: 2px;
        user-select: none;

        @include breakpoint(md) {
            margin: 0 20px 20px 0;
            width: calc(50% - 20px);
            padding: 80px $padder-desktop $padder-desktop $padder-desktop;
        }
        
        @include breakpoint(xl) {
            width: calc(33.3333% - 20px);
        }
        
        /* Low resolution craptops */
        @media only screen and (max-width: 1360px) {
            width: 100%;
            padding: 80px 25px 25px 25px;
        }
        

        legend {
            font-size: 1.3em;
            font-weight: $main-bold;
            display: block;
            width: 100%;
            color: $blue;
            text-transform: uppercase;
            border-bottom: solid 1px rgba($blue, .1);
            padding: 20px 35px 19px 35px;
            position: absolute;
            background: rgba($blue, .025);
            top: 0;
            left: 0;

            @include breakpoint(md) {
            }

            span {
                color: $orange;
                margin: 0 0 0 5px;
            }

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .add-item {
            margin: 0;
            @include flex-wrap;
            align-items: center;
            cursor: pointer;
            font-weight: $main-medium;

            svg {
                height: 15px;
                width: 15px;
                margin: 0 3px 0 0;
            }
        }

        p {
            font-size: 1.25em;
            margin: 0;
        }

        ul {
            margin: 0;
        }

        li {
            position: relative;
            align-items: baseline;
            margin: 20px 0 0 0;

            &:first-child {
                margin: 0 0 20px 0;
            }
            &:last-child {
                margin: 20px 0 0 0;
            }

            &.no-margin {
                margin: 0;
            }

            label {
                display: block;
                width: 100%;
                font-weight: $main-bold;
                margin: 0 0 7px 0;
                font-size: 1em;
                text-transform: uppercase;
                
                em {
                    font-style: normal;
                }

                .action {
                    font-size: .9em;
                    line-height: 1.2em;
                    padding: 2px 4px;
                    background: #f1f1f1;
                    border-radius: 2px;
                    cursor: pointer;
                    float: right;
                    position: relative;
                    top: -6px;
                }
            }

            span {
                font-weight: $main-medium;
                position: relative;
                font-size: 1.3em;
                line-height: .9em;
            }

            input[type="text"],
            input[type="file"],
            input[type="number"],
            input[type="date"],
            input[type="time"],
            input[type="password"],
            input[type="url"],
            textarea,
            select {
                width: 100%;
                border: none;
                border: solid 1px rgba($dark, .3);
                padding: 7px;
                font-weight: $main-medium;
                border-radius: $corner-minor;
                font-size: 1.5em;
                font-family: monospace;
            }

            input[type="file"] {
                font-size: 1.2em;
                font-family: monospace;
            }

            select {
                option[disabled] {
                    color: rgba($dark, .6);
                }
            }

            .file-input {
                &::-webkit-file-upload-button {
                    visibility: hidden;
                }
        
                &::before {
                    display: inline-block;
                    background: linear-gradient(top, #f9f9f9, #e3e3e3);
                    border: 1px solid rgba($dark, .3);
                    border-radius: 2px;
                    padding: 5px 8px;
                    outline: none;
                    white-space: nowrap;
                    user-select: none;
                    cursor: pointer;
                    font-size: 1.15em;
                }
        
                &:hover::before {
                    border-color: black;
                }
        
                &:active::before {
                    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
                }
            }

            ::placeholder {
                color: rgba($dark, .5);
            }

            input:focus,
            textarea:focus,
            select:focus {
                outline: none !important;
                border: 1px solid $blue;
                background: rgba($blue, .03);
            }

            /* Fix checkbox alignment issue */
            input[type="checkbox"] {
                position: relative;
            }

            input:invalid,
            select:invalid { //TODO: See if this works on other browsers
                border: solid 1px $tomato;
            }

            textarea {
                height: 190px;
                line-height: 1.2em;
            }

            &.split-2 {
                input {
                    width: calc(50% - 2px);
                }

                &:last-child {
                    margin: 0;
                }

                .merge-start {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                    margin: 0 -2px 0 0;
                    width: 50%;

                    @media only screen and (max-width: 1760px) {
                        width: 100%;
                        margin: 0;
                        border-top-left-radius: 3px;
                        border-top-right-radius: 3px;
                    }

                    @media only screen and (max-width: 1360px) {
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        margin: 0 -2px 0 0;
                        width: 50%;
                    }
                }
                .merge-end {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    margin: 0 0 0 -2px;
                    width: 50%;

                    @media only screen and (max-width: 1760px) {
                        width: 100%;
                        margin: -1px 0 0 0;
                        border-bottom-left-radius: 3px;
                        border-bottom-right-radius: 3px;
                    }

                    @media only screen and (max-width: 1360px) {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        margin: 0 0 0 -2px;
                        width: 50%;
                    }
                }
            }

            &.side-by-side {
                display: flex;
                flex-wrap: wrap;

                div {
                    width: 50%;

                    input {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                    &:nth-child(1) {
                        width: 70%;
                        input {
                            border-top-left-radius: 3px;
                            border-bottom-left-radius: 3px;
                            margin: 0 0 0 0;
                            
                        }
                    }
                    &:nth-child(2) {
                        width: 30%;
                        input {
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                            margin: 0 0 0 -2px;
                            
                        }
                    }
                }
            }
        }
    }

    .materials {
        legend {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        svg:hover {
            stroke: $blue;
        }

        p {
            margin: 0 0 15px 0;
        }

        li {
            display: flex;
            align-items: start;
            justify-content: space-between;
            margin: -1px 0 0 0 !important;

            &:first-child {
                margin: 20px 0 0 0 !important;
            }

            .item {
                border-top-left-radius: $corner-minor;
                border-bottom-left-radius: $corner-minor;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
    
            .project-material-cost {
                border-top-right-radius: $corner-minor;
                border-bottom-right-radius: $corner-minor;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
          

            label {
                display: block;
                width: 100%;
            }

            span {
                font-size: 1em;
                margin: 0;

                &:nth-child(1) {
                    width: 75%;
                    margin: 0 -1px 0 0;
                }

                &:nth-child(2) {
                    width: 25%;
                }
            }

            .remove {
                width: 30px;
                margin: 0 0 0 10px;
                height: 100%;
                cursor: pointer;
                background: #f9f9f9;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                border-top: solid 1px rgba($dark, .3);
                border-right: solid 1px rgba($dark, .3);
                border-bottom: solid 1px rgba($dark, .3);
                padding: 7px;
                font-weight: $main-medium;
                border-top-right-radius: $corner-minor;
                border-bottom-right-radius: $corner-minor;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        &.subtask-items {
            max-height: 224px;
            overflow: auto;
            @include scroll-bar-blue;
            overflow-x: hidden;

            li {

                textarea {
                    margin: -1px 0 10px 0;
                    height: 90px;
                    position: relative;
                    z-index: 0;
                    @include scroll-bar-light;
                }

                &.contact-list-item {
                   
                    span {
                        &:nth-child(2) {
                            height: 100%;
                        }
                    }
                }

                &.done {
                    opacity: .5;
                }

                span {
                    font-size: 1em;
                    margin: 0;
    
                    &:nth-child(1) {
                        width: calc(100% - 30px);
                    }
                    &:nth-child(2) {
                        width: 30px;
                        height: 100%;
                        margin: 0;
                        text-align: center;
                    }

                    input {
                        border-radius: 0;
                        border-top-left-radius: $corner-minor;
                        border-bottom-left-radius: $corner-minor;
                    }
                }
            }

            &.has-descriptions {
                input {
                    border-radius: 0;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 0;
                    position: relative;
                    z-index: 10;
                }

                textarea {
                    border-radius: 0;
                    border-bottom-left-radius: 3px;
                    border-bottom-right-radius: 0;
                    z-index: 0;
                }

                span {
                    &:nth-child(2) {
                        height: calc(100% - 11px);
                    }
                }
            }
        }
    }

    .materials-total {
        @include flex-wrap;
        font-size: 1.4em;
        font-weight: $main-bold;
        justify-content: start;
        align-items: center;
        margin: 0;
        padding: 15px 0 0 0;
    
        input {          
            padding: 0;
            border: none;
            background: #fff;
            width: 45%;
            outline: none;
        }
    }


    .submit {
        @include flex-wrap;
        justify-content: flex-end;
        width: 100%;
        margin: 25px 0 0 0;
    }

    input[type="submit"],
    button {
        color: #fff;
        background: $blue;
        font-weight: $main-bold;
        padding: 15px 20px;
        font-size: 1.3em;
        border: none;
        text-transform: uppercase;
        border-radius: 2px;

        &:hover {
            background: $orange;
        }
    }

    .image-radio {
        width: 50%;

        label {
            width: auto;
            display: inline;
        }

        [type=radio] { 
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }
        

        [type=radio] + svg {
            cursor: pointer;
            stroke: $medium-dark;
            width: 22px;
        }

        [type=radio]:checked + svg {
            stroke: $blue;
        }
    }

    .radio-group {

        display: flex;
        flex-wrap: wrap;
        
        label {
            width: auto;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }

        input {
            margin: 0 3px 0 0;
        }
    }

    .radio-group-4 {
        display: flex;

        label {
            width: 25%;
            margin: 5px 0;

            @media only screen and (max-width: 1750px) {
                width: auto;
                margin: 5px 5px 5px 0;
            }

            @media only screen and (max-width: 1600px) {
                width: 25%;
                margin: 5px 0;
            }
        }
    }

    .radio-group-2 {
        display: flex;

        label {
            width: 50%;
            margin: 5px 0;
        }
    }

    /* Overrides */
    &.new-task-form,
    &.account-form {
        textarea {
            height: 125px;
        }
    }

    &.account-form {
       .image-radio {
           .radio::before,
           .radio::after {
                display: none;
           }
       } 
    }

    button:disabled {
        filter: grayscale(100%);
        opacity: .5;
    }

}

/* When there is only one field, remove the margin from the li */
.general-form .single-field li:last-child {
    margin: 0;
}


/* The right sidebar forms */
.side-form {

    .side-form-box {
        // border-top: solid 1px rgba($blue, .1);
        // border-bottom: solid 1px rgba($blue, .1);
        padding: 20px 35px 15px 35px;
        background: rgba($blue, .05);
        margin: 20px 0 10px -35px;
        width: calc(100% + 70px);
    }

    li {
        padding: 10px 15px;

        strong {
            display: block;
            margin: 0 0 10px 0;
        }

        label {
            display: flex;
            margin: 10px 0;
            align-items: center;
            cursor: pointer;
        }

        input {
            margin: 0 4px 0 0;
        }
    }
    
    &.change-task-status {
        &.disabled {
            label {
                opacity: .3;
                pointer-events: none;
            }
        }
    }
}

.notice {
    display: block;
    width: calc(100% + 70px);
    margin: 25px 0 0 -35px;
    font-size: 1.4em;
    text-align: center;
    padding: 25px;
    background: rgba($orange, .1);
    cursor: auto !important;

    svg {
        width: 20px !important;
        height: 20px !important;
        margin: 0 auto 5px auto !important;
        position: relative;
        display: block;
        cursor: auto !important;
    }

    .small-avatar,
    .letter-avatar,
    .avatar {
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin: 10px auto;
    }

    .letter-avatar {
        font-size: .65em;
        font-weight: 500;
    }

    button {
        display: block;
        color: $dark;
        font-size: .9em;
        font-weight: bold;
        margin: 15px 0 0 0;
        background: none;
        border: none;
        width: 100%;
        text-align: center;
        border-bottom: solid 2px rgba($orange, .6);
        padding: 5px 0 3px 0;
        width: auto;
        margin: 10px auto 0 auto;
    }
}



.radio {
    display: flex;
    position: relative;
    cursor: pointer;

    input[type="radio"] {
        display:none;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0;
        border: solid 2px #00bcd4;
        cursor: pointer;
        border-radius: 100%;
    }

    &.selected {
        &::after {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            border-radius: 100%;
            position: absolute;
            top: calc(50% - 3.5px);
            left: 4px;
            background: #00bcd4;
        }
    }
}

.checkbox {
    display: flex !important;
    position: relative;
    align-items: center;
    top: auto;
    cursor: pointer;
    
    span {
        font-size: 1em;
        line-height: 1.2em !important;
        text-transform: none;
    }

    input[type="checkbox"] {
        display:none;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        margin: 0 3px 0 0;
        border: solid 2px #00bcd4;
        cursor: pointer;
        border-radius: 3px;
    }

    &.selected {
        &::after {
            content: "\2713";
            display: block;
            width: 10px;
            height: 10px;
            position: absolute;
            top: calc(50% - 5px);
            font-weight: $main-bold;
            left: 3px;
            color: #00bcd4;;
        }
    }
}