.help {

    @include fixed-mobile;
    width: 100%;
    top: 60px;
    right: auto;
    left: -100%;
    height: calc(100% - 60px);
    
    &.move {
        left: auto;
        right: 0;
        top: 60px;
    }

    @include breakpoint(md) {
        @include remove-fixed;
        background: #fff;
        width: 300px;
        height: calc(100% - 50px);
        overflow: auto;
        position: fixed;
        top: 50px;
        left: auto;
        right: -300px;
        border-left: solid 1px rgba($dark, .1);
        @include scroll-bar-blue;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;

        &.move {
            top: 50px;
        }
    }    

    h3 {
        padding: 16px 15px 14px 15px;
        margin: 0;
        border-bottom: solid 1px $faint;
        display: flex;
        justify-content: space-between;
        background: #fff;
        z-index: 99;
        font-size: 1.4em;
        color: $blue;

        @include breakpoint(md) {
            padding: 11px 15px 9px 20px;
        }
    }

    h4 {
        padding: 20px 20px 0 20px;
        margin: 0;
        font-size: 1.4em;
    }

    .help-01 {
        
        @include breakpoint(md) {
            margin: 0 0 0 0;
        }
    }

    svg {
        width: 14px;
        height: 14px;
        margin: 0 4px 0 0;
        position: relative;
        top: 0;
    }

    p {
        font-size: 1.4em;
        line-height: 1.3em;
        border-bottom: solid 1px $faint;
        padding: 10px 20px 20px 20px;
        margin: 0;
        position: relative;
        &:last-child {
            margin: 0;
        }

        a {
            color: $dark;
            text-decoration: underline;

            &:hover {
                color: $blue;
            }
        }
    }
}