section.left {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate3d(-100%,0,0);
    width: calc(100% - 60px);
    height: 100%;
    background: #fff;
    //z-index: 9999;
    z-index: 99999;
    padding: 130px 25px 25px 25px;
    transition: $trans;
    box-shadow: 5px 5px 30px 0 rgba(0,0,0,.05);
    border-top-right-radius: $corner-max;
    border-bottom-right-radius: $corner-max;
    @include overflow-scroll;

    &.move {
        transform: translate3d(0,0,0);
        //box-shadow: $shadow;
    }

    @include breakpoint(md) {
        transform: translate3d(0,0,0);
        width: 300px;
        height: 100%;
        left: 0;
        top: auto;
        padding: 125px 35px 35px 35px;
        @include scroll-bar;
        transition: $trans;
        border-bottom: solid 1px rgba($lavender, .2);

        &.repos {
            left: -300px;
            box-shadow: none;
        }
    }

    @include breakpoint(ipad-landscape) {
        width: 250px;
        padding: 25px;
    }

    .user {
        width: 100%;
        @include flex-wrap;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba($dark, .05);
        padding: 25px 35px;
        align-items: center;
        border-top-right-radius: $corner-max;

        &:hover {
            
        }

        .deets {
            width: calc(100% - 60px);
        }

        .avatar {
            padding: 0;
            margin: 0 15px 0 0;
            display: block;
            position: relative;
            width: 45px;
            height: 45px;
            font-size: 1.5em;
            font-weight: 500;
            
            img {
                display: block;
                width: 45px;
                height: 45px;
                position: absolute;
            }

            &:hover {
                svg {
                    display: block;
                }
            }

            svg {
                width: 20px;
                height: 20px;
                background: $orange;
                border-radius: 100%;
                padding: 4px;
                position: absolute;
                top: -5px;
                left: -5px;
                stroke: #fff;
                stroke-width: 3px;
                display: none;
            }
        }
        strong {
            display: block;
            font-size: 1.4em;
            font-weight: $main-bold;
            margin: 0 0 10px 0;
        }
        .bars {
            height: 5px;
            width: calc(100% - 50px);
            background: rgba($medium-dark, .2);
            display: block;
            width: 100%;
            position: relative;
            z-index: 9;
            border-radius: $pill;

            span {
                height: 5px;
                background: $pink;
                display: block;
                position: relative;
                border-radius: $pill;
            }
        }
        em {
            font-style: normal;
            font-size: 1.3em;
            line-height: 1.2em;
            display: block;
            width: 100%;
            margin: 5px 0 0 0;
        }
    }

    .role-observer {
        .deets {
            strong {
                margin: 0;
            }
        }
    }

    .new {
        @include flex-wrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 10px 0;
        font-size: 1.3em;
        line-height: .8em;
        //border: solid 1px rgba($medium-dark, .1);
        font-weight: $main-bold;
        background: $blue;
        border-radius: 20px;
        border: none;
        color: #fff;
        user-select: none;
        transition: $trans;

        svg {
            display: inline-block;
            width: 16px;
            height: auto;
            margin: 0 4px 0 0;
            stroke: #fff;
            transition: $trans;
        }

        &.active {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            svg {
                transform: rotate(45deg);
            }
        }
    }
}