// Breakpoints
@mixin breakpoint($point) {
    @if $point == xs {
        @media (min-width: 420px) { @content; }
    } @else if $point == sm {
        @media (min-width: 640px) { @content; }
    } @else if $point == md {
        @media (min-width: 960px)  { @content; }
    } @else if $point == lg {
        @media (min-width: 1100px)  { @content; }
    } @else if $point == xl {
        @media (min-width: 1600px)  { @content; }
    } @else if $point == ipad-landscape {
        @media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) { @content; }
    } @else if $point == ipad-portrait {
        @media (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { @content; }
    }
}

// Clearfix
@mixin clear {
    &:before,
    &:after {
        display: table;
        content: '';
    }

    &:after {
        clear: both;
    }
}

@mixin vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@mixin no-vertical-align {
    position: relative;
    top: auto;
    transform: translateY(0);
}

@mixin flex-wrap {
    display: flex;
    //flex-wrap: row wrap;
}

@mixin scroll-bar {
    &::-webkit-scrollbar {
        width: 10px;
        background: rgba($dark, .2);
	}

	&::-webkit-scrollbar-thumb {
        background-color: rgba($dark, .5);
        border-radius: 100em;
	}
}

@mixin scroll-bar-horizontal {
    &::-webkit-scrollbar {
        height: 8px;
        background: rgba($dark, .2);
	}

	&::-webkit-scrollbar-thumb {
        background-color: rgba($dark, .5);
        border-radius: 100em;
	}
}

@mixin scroll-bar-light {
    &::-webkit-scrollbar {
        width: 7px;
        background: rgba($dark, 0);
	}

	&::-webkit-scrollbar-thumb {
        background-color: rgba($dark, .2);
        border-radius: 100em;
	}
}

@mixin scroll-bar-blue {
    &::-webkit-scrollbar {
        width: 10px;
        background: rgba($blue, .3);
	}

	&::-webkit-scrollbar-thumb {
        background-color: rgba($blue, .5);
        border-radius: 100em;
	}
}

@mixin pill {
    border-top-left-radius: 100em;
    border-top-right-radius: 100em;
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
}

@mixin top-arrow {
    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 14px 7px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        left: calc(50% - 7px);
        top: -10px;
    }
}

@mixin bottom-arrow {
    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 7px 0 7px;
        border-color: #fff transparent transparent transparent;
        position: absolute;
        left: calc(50% - 7px);
        bottom: -10px;
    }
}

@mixin left-arrow {
    &::before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 14px 7px 0;
        border-color: transparent #fff transparent transparent;
        position: absolute;
        top: calc(50% - 7px);
        left: -10px;
    }
}


@mixin scroll-bar-blue {

	&::-webkit-scrollbar {
        width: 8px;
        background: #f1f1f1;
        border-radius: 6px;
	}
	
	&::-webkit-scrollbar-thumb {
	  background-color: rgba($blue, 1);
	  border-radius: 6px;
	}
}

@mixin overflow-scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin fixed-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 60px);
    height: 100%;
    background: #fff;
    z-index: 9999;
    box-shadow: $shadow;
    transition: $trans;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@mixin remove-fixed {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    overflow: unset;
    -webkit-overflow-scrolling: none;    
}