$roundness: 5px;

section.right {

    @include fixed-mobile;
    left: -100%;
    width: calc(100% - 60px);
    height: calc(100% - 25px);
    top: 60px;
    border-top-left-radius: $corner-max;
    border-bottom-left-radius: $corner-max;

    &.move {
        left: 0;
    }

    @include breakpoint(md) {
        @include remove-fixed;
        width: 300px;
        height: calc(100% - 50px);
        position: fixed;
        top: 50px;
        right: 0;
        padding: 0;
        transition: $trans;
        background: #fff;
        overflow: auto;
        @include scroll-bar-blue;

        &.move {
            right: -300px;
            left: auto;

            .side-icons {
                right: 295px;
            }

            .latest-activity {
                p {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }

    @include breakpoint(ipad-landscape) {
        top: 50px;
        right: 0;
        width: 200px;
        height: calc(100% - 50px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        box-shadow: $shadow;
        overflow: auto;
    }

    .owner {

        width: 100%;
        height: 150px;
        background: rgba($dark, .15);
        padding: 20px 35px;
        border-top-left-radius: $corner-max;
        position: relative;

        @include breakpoint(md) {
            height: 150px;
        }

        @include breakpoint(ipad-landscape) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        .pep-talk {
            display: block;
            background: #fff; 
            padding: 23px 10px;
            width: calc(100% - 170px);
            font-size: 1.4em;
            line-height: 1.2em;
            font-weight: $main-medium;
            text-align: center;
            border-radius: 7px;
            position: absolute;
            @include vertical-align;
            left: 135px;
            z-index: 9999;
            display: none;
            box-shadow: $shadow;

            @include breakpoint(md) {
                width: 140px;
            }
        
            &::before {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 14px 7px 0 7px;
                border-color: #fff transparent transparent transparent;
                position: absolute;
                left: -10px;
                top: 15px;
                transform: rotate(90deg);
            }
         }

        &.pm {
            //background: rgba($blue, .1);
            //background: linear-gradient(135deg, $lavender 0%, $pink 100%);
        }

        a {
            display: flex;
            flex-wrap: wrap;
            position: relative;
            height: 100%;
            align-items: center;

            @include breakpoint(md) {
                width: 100%;
            }
        }

        .owner-details {
            z-index: 9999;
            color: $dark;
            display: block;
            width: calc(100% - 100px);

            strong {
                display: block;
                font-weight: normal;
                font-weight: $main-bold;
                font-size: 1.7em;
            }

            span {
                font-size: 1.3em;
                display: flex;
                flex-wrap: wrap;
                font-weight: $main-medium;
                opacity: .8;
                line-height: 1.2em;
                width: 100%;
                margin: 7px 0 0 0;
            }

            svg {
                width: 15px;
                height: 15px;
                stroke: $blue;
                position: absolute;
                top: 70px;
                left: 72px;
                background: #fff;
                border-radius: 100%;
            }

            em {
                font-style: normal;
                display: block;
                font-size: 1.1em;
                //padding: 2px 6px;
                //background: #fff;
                display: inline-block;
                border-radius: 20em;
                font-weight: 500;
                color: $blue;
                margin: 7px 0 0 0;
            }
        }

        img {
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 20px 0 0;

        }
    }

    ul {
        padding: 25px;

        @include breakpoint(md) {
            padding: 25px 35px;
        }

        @include breakpoint(ipad-landscape) {
            padding: 25px;
        }
    }

    li {
        font-size: 1.4em;
        line-height: 1.2em;
        cursor: pointer;

        &.selected {
            a {
                font-weight: bold;
            }
        }
        
        a {
            display: flex;
            font-weight: $main-medium;
            padding: 10px 0;
            align-items: flex-start;

            @include breakpoint(md) {
                align-items: flex-start;
            }

            &:hover {
                // background: #fff;
                color: $blue;
                
                svg {
                    stroke: $blue;
                }
            }
        }

        svg {
            width: 14px;
            height: 14px;
            margin: 1px 5px 0 0;
            stroke: $orange;
            stroke-width: 2.5px;
            flex: none;
        }

        .spawn {
            width: calc(100% - 20px);
        }

        &.downloading {

            background: rgba($lavender, .1) url('images/downloading.svg') no-repeat center;
            border-radius: 3px;
            //border: solid 2px rgba($lavender, .2);
            pointer-events: none;
            transition: $trans;      
            
                 
            a {
                color: #fff;
                justify-content: center;
                font-size: 0;

                svg {
                    opacity: 0;
                    width: 0;
                    margin: 0;
                }
            }
        }

    }

    .project-name {
        background: rgba($blue, .05);
        width: calc(100% + 70px);
        margin: -25px 0 25px -35px;
        padding: 20px 35px;

        &:hover {
            background: rgba($blue, .1);
        }
        
        a {
            color: $blue;

            &:hover {
                color: $blue;
            }
        }
    }

    .follow {
        &.followed {
            svg {
                stroke: $blue;
                fill: $blue;
            }
        }
    }
    
    .pdf-report {
        &::before {
            content: '';
            display: block;
            width: 0;
            background: rgba($blue, .5);
            position: absolute;
            left: 0;
            bottom: 0;
            height: 3px;
            z-index: -1;
            border-radius: 100em;
            transition: all 5s ease-in-out;;
        }
        &.animate {
            &::before {
                width: 100%;
            }
        }
    }

    .side-nav-other {
        background: rgba(#f3f3e7, .5);
        width: 100%;
        padding: 15px 35px;
    }
    
    .projects-filter.selected {
        a {
            font-weight: bold;
        }
    }

    .projects-list {
        li {
            img {
                display: none;
            }
        }
    }
}


.side-notice {

    padding: 20px 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: block;

    @include breakpoint(md) {
        position: relative;
        bottom: auto;
        left: auto;
        width: auto;
        display: flex;
    }
    

    p {
        margin: 0;
        display: flex;
        font-weight: bold;

        &:last-child {
            margin: 0;
        }
    }

    &.warn {
        color: #fff;
        background: $tomato;

        span {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background: rgba(#000, .2);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;

            @include breakpoint(md) {
                display: none;
            }

            svg {
                margin: 0;
            }
        }
    }

    svg {
        width: 16px;
        height: 16px;
        margin: 0 4px 0 0;
        stroke: #fff;
    }
}


.extend-project-deadline {
    padding: 0 0 25px 0;
    position: relative;
    display: flex;
    flex-flow: wrap;

    p {
        margin: 0 0 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    input[type=date] {
        width: calc(100% - 45px);
        font-size: 1.3em;
        border: none;
        height: 32px;
        outline: 0;
        background: none;
        border: solid 1px rgba($dark, .25);
        border-radius: 2px;
        padding: 0 5px;
    }
   
    button {
        padding: 0;
        height: 32px;
        width: 32px;
        background: none;
        border: solid 1px rgba($dark, .25);
        margin: 0 0 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background: rgba($blue, .05);

            svg {
                stroke: $blue;
            }
        }

        svg {
            margin: 0;
        }
    }

    svg {
        width: 11px;
        height: 11px;
        margin: 0 4px 0 0;
    }
}

.copy-link {
    &.copied {

    }

    .move {
        position: absolute;
        left: 19px;
        top: -10px;
        animation-name: copied;
        animation-duration: .6s;
        opacity: 0;
    }

    @keyframes copied {
        from {
            top: 0;
            opacity: 1;
        }
        to {
            top: -10px;
            opacity: 0;
        }
    }
}



#date-time {
    font-size: 1.4em;
    @include flex-wrap;
    margin: 20px 0;

    span {
         @include flex-wrap;
         align-items: center;
         justify-content: center;
    }

    svg {
        width: 12px;
        height: 12px;
        margin: 0 3px 0 0;
    }

    em {
        font-style: normal;
    }

    .the-date {
        margin: 0 10px 0 0;
    }

    .the-time {
    }
}