.task-project {

    .project-name {
        svg {
            width: 15px;
            height: 15px;
            margin: 0 4px 0 0;
            stroke: $blue;
        }

        a {
            text-decoration: underline;
        }
    }

    p {
        display: flex;
        align-items: center;

        .feather-alert-triangle {
            width: 14px;
            height: 14px;
            margin: 0 4px 0 0;
        }
    }

    .context-label {
        text-transform: uppercase;
        display: inline-block;
        padding: 5px 8px 4px 8px;
        background: rgba($dark, .1);
        border: solid 1px rgba($dark, .2);
        border-radius: 100em;
        font-weight: bold;
        font-size: 1.1em;
        margin: 0 0 10px 0;
        text-align: center;
    }

    .relation {
        padding: 7.5px 20px;
        background: rgba(#ffc107, .4);
        margin: 25px 0; 

        &.mover {
            margin: 25px 0;
            border-radius: 5px;
        }

        a {
            text-decoration: underline;
        }

        p {
            padding: 7.5px 0;
            display: block;
            margin: 0;
        }

        svg {
            position: relative;
            top: 1px;
        }
    }

    a {
        text-decoration: none;
    }

    .task-details {
        margin: 35px 0;
        position: relative;
        @include flex-wrap;
        justify-content: start;

        svg {
            padding: 8px;
            border-radius: 10px;
            width: 40px;
            height: 40px;
            margin: 0 auto 10px auto;
            display: block;
        }
        
        .milestone {
            svg {
                color: $blue;
                background: rgba($blue, .1);
            }
        }
        .project {
            svg {
                color: $orange;
                background: rgba($orange, .1);
            }
        }


        .big-avatar {
            margin: 0 auto 10px auto;
            width: 40px;
            height: 40px;
            border-radius: 10px;
            display: block;
        }
        
        li {
            font-size: 1.4em;
            align-items: center;
            text-align: center;
            margin: 0 25px 0 0;

            a {
                //display: contents;
            }
        }       
        
    }

    .task-specs {

        @include flex-wrap;
        flex-flow: wrap;
        
        form {
            
        }
        
        ul {
            @include flex-wrap;
            flex-wrap: wrap;
            align-items: center;
            //border-left: solid 3px $green;
            width: 100%;
        }

        li {
            width: 100%;
            font-size: 1.6em;
            padding: 10px 20px 10px 50px;
            background: #fff;
            margin: 0 0 1px 0;

            @include breakpoint(md) {
                display: flex;
                align-items: center;
                padding: 13px 20px;
                font-size: 1.4em;
            }

            span {
                display: block;
                width: 50%;
                font-weight: $main-bold;
                margin: 0 0 5px 0;

                @include breakpoint(md) {
                    margin: 0;
                }

                &:first-child {
                    display: inline-block;
                    width: 100%;
                    @include breakpoint(md) {
                        width: 20%;
                    }
                }
            }

            em {
                font-style: normal;
                text-decoration: underline;
                cursor: pointer;
            }

            svg {
                width: 25px;
                height: 25px;
                stroke-width: 2px;
                margin: 0 6px 0 0;
                stroke: $blue;
                padding: 4px;
                border-radius: 5px;
                background: rgba($blue, .1);
                
                position: absolute;
                top: 10px;
                left: 10px;

                @include breakpoint(md) {
                    position: relative;
                    top: auto;
                    left: auto;
                    width: 18px;
                    height: 18px;
                }
            }

            a {
                text-decoration: underline;
            }

            &.overdue {
                color: $tomato;
                font-weight: $main-bold;
            }

            &.task-time {
                em {
                    font-style: normal;
                }
            }
        }

        .avatar {
            padding: 0;
        }
    }

    .tab-content-task-time {

        li {

           // background: #fff;

            &:nth-child(even) {
                background: rgba(#fff, .5);
            }

            span {
                font-weight: normal;
            }

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            span {
                display: flex;
            }

            .the-time {
                font-style: normal;
                color: $blue;
            }

            span.col-avatar {

                @include breakpoint(md) {
                    width: 46%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }

                a {
                    font-weight: bold;

                    @include breakpoint(md) {
                        font-weight: normal;
                    }
                }

            }

            &.editing {
                background: rgba(#ffeb3b, .5);
            }

            span.time,
            .edit-time-fields {
                
                width: 100%;

                @include breakpoint(md) {
                    width: 27%;
                    display: flex;
                    align-items: center;
                }

                input {
                    padding: 3px 6px;
                    border-radius: 3px;
                    margin: 0 3px;
                    border: none;
                }

                .save {
                    display: block;
                    width: 24px;
                    height: 24px;
                    margin: 0 0 0 3px;

                    svg {
                        width: 24px;
                        height: 24px;
                        stroke: $dark;
                        background: #fff;
                        padding: 5px;
                        transition: $trans;
                    }

                    &:hover {
                        svg {
                            border-radius: 100%;
                            background: $green;
                            stroke: #fff;
                        }
                    }
                }
            }

            span.time {
                margin: 5px 0 10px 0;

                @include breakpoint(md) {
                    margin: 0;
                }
            }

            span.col-date {
                
                width: 100%;

                @include breakpoint(md) {
                    width: calc(27% - 60px);
                    justify-content: flex-end;
                    padding: 0 25px 0 0;
                }
            }

            span.delete-time,
            span.edit-time {
                width: 30px;
                display: inline;
                position: absolute;
                top: 20px;
                right: 20px;

                @include breakpoint(md) {
                    justify-content: flex-end;
                    position: relative;
                    top: auto;
                    right: auto;
                    display: flex;
                }

                svg {
                    stroke: $dark;
                    background: rgba($dark, .1);
                }

                &:hover {
                    svg {
                        stroke: #fff;
                        background: $tomato;
                    }
                }
            }

            span.edit-time {
                right: 60px;

                @include breakpoint(md) {
                    right: auto;
                }
                svg {
                    stroke: $dark;
                    background: rgba($dark, .1);
                }
                &:hover {
                    svg {
                        stroke: #fff;
                        background: $pink;
                    }
                }
            }
            
            .overtime {
                font-style: normal;
                font-weight: bold;
                margin: 0 0 0 5px;
                display: flex;               
                position: relative; 
                align-items: center;

                svg {
                    width: 13px;
                    height: 13px;
                    padding: 0;
                    background: none !important;
                    stroke: $tomato !important;
                    margin: 0;
                }

                &:hover {
                    .pop {
                        display: flex;
                    }
                }

                .pop {
                    font-size: .9em;
                    width: 120px;
                    left: calc(50% - 60px);
                    bottom: 25px;
                    justify-content: center;
                    display: none;
                    font-weight: bold;
                }
            }

            svg {
                position: relative;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
            }

            em {
                font-weight: bold;
                text-decoration: none;
                //font-family: 'Courier New', Courier, monospace;
            }

            &.inserted {
                background: #fff4d2;
            }
        }

        .time-header,
        .time-footer {
            span {
                font-weight: bold;

                @include breakpoint(md) {
                    display: flex;
                    align-items: center;
                }
            }
            span:nth-child(1) {
                //padding: 0 0 0 32px;
                
                @include breakpoint(md) {
                    width: 46%;
                }
            }

            span:nth-child(2) {

                @include breakpoint(md) {
                    width: 27%;
                }
            }

            span:nth-child(3) {
                
                @include breakpoint(md) {
                    width: calc(27% - 60px);
                    justify-content: flex-end;
                    padding: 0 25px 0 0;
                }
              
            }

            span:nth-child(4),
            span:nth-child(5) {
                
                @include breakpoint(md) {
                    width: 30px;
                    justify-content: flex-end;
                }
            }

            span.span-2 {
                @include breakpoint(md) {
                    width: 60px;
                }
            }
        }

        .time-header {
            display: none;
            padding: 15px 20px !important;

            @include breakpoint(md) {
                display: flex;
            }
        }

        .time-footer {
            //border-top: solid 2px $dark;
            //background: none;
            padding: 15px 20px!important;

            span:nth-child(1) {
                display: flex;
                justify-content: end;
                padding: 0 5px 0 0;
            }
        }

        .avatar {
            display: flex;
            width: 25px;
            height: 25px;
            margin: 0 10px 0 0;
            font-size: .70em;
            font-weight: 500;

            &.rounded-corners {
                border-radius: 6px !important;
            }
            &.circular {
                border-radius: 100% !important;
            }
            &.square {
                border-radius: 2px !important;
            }
        }
    }

    small {
        display: none;
    }

    .files {
        display: block;
    }

    .subtasks {
        ul {

            .subtask-progress {

                padding: 30px 20px;

                &::after {
                    content: '';
                    display: block;
                    width: calc(100% - 40px);
                    height: 5px;
                    background: $faint;
                    border-radius: $pill;
                    position: absolute;
                    @include vertical-align;
                    left: 20px;
                    z-index: 1;
                }

                &:hover {
                    background: #fff !important;
                }

                b {
                    display: block;
                    height: 5px;
                    display: block;
                    position: absolute;
                    max-width: calc(100% - 40px);
                    left: 20px;
                    border-radius: $pill;
                    @include vertical-align;
                    z-index: 10;
                    background: $pink;
                    transition: $trans;

                    &.complete {
                        background: $green;

                        i {
                            background: $green;
                        }
                    }
                }

                i {
                    display: block;
                    width: 10px;
                    height: 10px;
                    background: $pink;
                    border-radius: 100%;
                    position: absolute;
                    right: 0;
                    @include vertical-align;
                }
            }

            li {
                font-size: 1.4em;
                line-height: 1.1em;
                cursor: pointer;
                padding: 15px 20px;
                margin: 0 0 1px 0;
                background: #fff;

                &:last-child {
                    border: none;
                }

                &:hover {
                    background: rgba(#fff, .5);
                    svg {
                        stroke: $blue;
                    }
                }
            }

            label {
                
                align-items: flex-start;
                cursor: pointer;

                strong {
                    display: block;
                    margin: 0 0 5px 0
                }

                span {
                    width: calc(100% - 20px);
                    display: block;
                }

                @include breakpoint(md) {
                    @include flex-wrap;
                    flex-wrap: wrap;
                }

                &.line-through {
                    text-decoration: line-through;
                    opacity: .6;

                    svg {
                        stroke: $dark;
                    }
                }
            }

            svg {
                width: 13px;
                height: 13px;
                margin: 0 5px 0 0;
                stroke: $orange;
            }

            input {
                display: none;
            }

        }
    }
}

.edit-time-form {

    width: 100%;

    .delete-time {
        &.deleting-in-progress {

            opacity: .5;
            cursor: none;
            pointer-events: none;
    
            // &::after {
            //     content: '';
            //     display: block;
            //     width: 100%;
            //     height: 100%;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     opacity: .85;
            //     background: #fff;
            //     background-size: 30px 30px;
            //     z-index: 9;
            // }
            // &::before {
            //     content: '';
            //     background: url('images/spinner.svg') no-repeat center;
            //     background-size: 30px 30px;
            //     width: 30px;
            //     height: 30px;
            //     position: absolute;
            //     top: calc(50% - 15px);
            //     left: calc(50% - 15px);
            //     z-index: 10;
            // }
        }
    }

    li {
        padding: 10px 20px !important;

        @include breakpoint(md) {
            padding: 10px 20px 10px 50px;
        }
    }

    .not-allowed {
        opacity: .5;
        cursor: not-allowed;

        svg {
            pointer-events: none;
        }
    }
}

.single-task-status {
    padding: 20px;
    background: #ccc;
    width: 100%;
    @include flex-wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;

    &.complete {
        background: #69c55e;
        color: #fff;
    }
    &.incomplete {
        background: #00bcd4;
        color: #fff;
    }
    &.in-progress {
        background: #9c27b0;
        color: #fff;
    }
    &.on-hold {
        background: rgba(#5b606c, .2);
        color: #5b606c;

        svg {
            stroke: #5b606c;
        }
    }
    &.not-started {
        background: rgba(#5b606c, .2);
        color: #5b606c;

        svg {
            stroke: #5b606c;
        }
    }
    
    svg {
        stroke: #fff;
        width: 16px;
        height: 16px;
        margin: 0 4px 0 0;
        stroke-width: 2.5px;
        cursor: default;
    }
}